@model IEnumerable<TestWork.Models.News>

    @{
        ViewData["Title"] = "Index";
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <img src="@("~/image/"+item.ImageName)" asp-append-version="true" width="100px" height="50px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubTitle)
                    </td>
                    <td>
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id" asp-controller="News">Подробнее</a>
                    </td>
                  
                </tr>
            }
        </tbody>
    </table>

