@model TestWork.Models.News
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-4 h-75">
        <div class="row d-flex justify-content-center align-items-center h-75">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">
                        <h1>@Localizer["Create news"]</h1>
                        <form asp-action="Create" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-outline mb-4">
                                <label>@Localizer["Title"]</label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <label>@Localizer["ImageFile"]</label>
                                <input asp-for="ImageFile" type=@Localizer["file"] accept="image/*" />
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <label>@Localizer["SubTitle"]</label>
                                <input asp-for="SubTitle" class="form-control" />
                                <span asp-validation-for="SubTitle" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <label>@Localizer["TextNews"]</label>
                                <textarea asp-for="Text" cols="200" id="text" name="text" rows="2" class="form-control"></textarea>
                                <span asp-validation-for="Text" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="submit" value=@Localizer["Create"] class="btn btn-success" />
                                <a asp-action="Index" class="btn btn-primary">@Localizer["Back to List"]</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
