@model TestWork.Models.News

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<dl class="card-body p-4 text-center">

    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Title)
    </dd>

    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.SubTitle)
    </dd>

    <dd class="col-sm-10">
        <img src="@("~/image/"+Model.ImageName)" asp-append-version="true" width="350px" height="350px" />
    </dd>

    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Text)
    </dd>
</dl>

<div>
    <a asp-action="Index" class="btn btn-warning w-100">@Localizer["Back to List"]</a>
</div>
