@model TestWork.Models.ViewModel.NewsViewModel
@using TestWork.Models
@{
    ViewData["Title"] = "Index";
}

<style>
    @@font-face {
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal
    }

    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .glyphicon-chevron-right:before {
        content: "\f054";
    }

    .glyphicon-chevron-left:before {
        content: "\f053";
    }
</style>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container d-flex flex-wrap">
    @foreach (var item in Model.News)
    {
        <div class="card" style="width: 18rem;">
            <img src="@("~/image/"+item.ImageName)" asp-append-version="true" class="card-img-top" alt="Card Image" width="150px" height="150px" />
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <h5 class="card-title">@item.SubTitle</h5>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Detailed</a>
                <a asp-action="Delete" class="btn btn-primary" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</div>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
<a asp-action="Index"
   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
   class="btn btn-outline-dark">
    Forward
    <i class="glyphicon glyphicon-chevron-right"></i>
</a>
    }
   